.button {
  background-color: $primary-color;
  height: 4.5rem;
  color: $primary-bg-color;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  cursor: pointer;

  transition:
    transform 0.1s ease,
    box-shadow 0.2s ease;
  border-radius: 0.5rem;

  &:active {
    transform: scale(0.97);
  }
}
